@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body
{
    font-family: 'Open Sans';
}

.header
{
    width: 100%;
    height: 50px;
    background-color: #1b2631;
    /* background-color: #c0392b; */
    margin: 0 auto;
    padding: 10px;
    color: white;
    position: fixed;
}

/****** CONTAINER ******/

div#container
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

div#container h4
{
    color: #cccccc;
}

/****** MOBILE MENU ******/

a.mobile
{
    display: block;
    color: white;
    background-color: #1b2631;
    text-decoration: none;
    text-align: center;
    padding: 7px;

}

a.mobile:active
{
    background-color: #364d63;
}

@media only screen and (max-width: 400px) {
    .sidebar 
    {
        /* visibility: hidden; */
        display: none;
        width: 100%;
    }

    .content
    {
        margin-left: 0px;
    }
    .searchbar
    {
        margin-left: 0px;
    }

    .searchbar form.example input
    {
        width: 150px;
    }

    div#box .button
    {
        width: 200px;
    }
    div#box button
    {
        width: 200px;
    }
    
}

@media only screen and (min-width: 400px) {
    .sidebar 
    {
        height: 100vh;
    }

    a.mobile
    {
        display: none;
    }

    .content
    {
        margin-left: 250px;
    }

    .searchbar
    {
        margin-left: 250px;
    }
}
/****** SIDEBAR ******/

.sidebar
{
    width: 250px;
    /* height: 100%; */
    background-color: #2c3e50;
    float: left;
    /* position: fixed; */
}

/****** CONTENT ******/

.content
{
    width: auto;
    /* margin-left: 250px; */
    height: 91.5%;
    background-color:#ecf0f1;
    padding: 15px; 
    overflow: auto;
}

.content p 
{
    color: #424242;
}

/***** SEARCHBAR ******/

.searchbar
{
    width: auto;
    height: 50px;
    /* margin-left: 250px;  */
    background-color:#ffffff;
    padding: 15px;
}

form.example input
{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    float: left;
    width: 250px;
    height: 20px;
}

form.example button {
    float: left;
    width: 40px;
    /* background: url('assets/search.png') no-repeat top left; */
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.searchbar li
{
    float: left;
    list-style: none;
}

.searchbar li p
{
    color: #44bd32;
}

.notification
{
    height: 23px;
    width: 40px;
    border: none;
    background-color:#ffffff;
}

/****** PROFILE IMG ******/

.profileimg
{
    /* padding: 30px; */
    height: 80px;
    width: 80px;
    margin-left: 90px;
    margin-top: 30px;
}

/****** NAVIGATION BAR ******/

ul#nav
{

}

ul#nav li
{
    list-style: none;
}

ul#nav li a
{
    color: #cccccc;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 0.8em;
    border-bottom: 1px solid#364d63;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
ul#nav li a:hover
{
    background-color: #d63031;
    padding-left: 30px;
}

ul#nav li a.selected
{
    background-color: #d63031;
    color: #ffffff;
}

/****** DASHBOARD MENU ******/

div#box
{
    margin-top: 15px;
    height: calc(100% - 5px);
    background-color: white;
    width: calc(100% - 5px);
    overflow: auto;
}

div#box .button
{
    height: 100px;
    width: calc(100% - 10px);
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
div#box button
{
    border: none;
    height: 100px;
    /* width: 400px; */
    width: calc(100% - 10px);
    border-radius: 2px;
    color: #ffffff;
    float: left;
}

div#box ul
{
    list-style: none;
}

div#box li
{
    padding: 10px;
}

div#box button.project
{
    background-color: #ffb142;
}

div#box button.quotes
{
    background-color: #227093;
}

div#box button.finance
{
    background-color: #33d9b2;
}

div#box button.rfqs
{
    background-color: #e74c3c;
}

div#box button.reports
{
    background-color: #9b59b6;
}

div#box button.admin
{
    background-color: #227093;
}

div#box button img
{
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
div#box button p
{
    color: white;
}
