
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<body ng-app="myApp">
<div class="header">
    <h4 align="center">NRP PROPERTIES</h4>
</div>

<a href="#" class="mobile">MENU</a>

<div id="container">
    <div class="sidebar">
        <img class="profileimg" src="assets/profile.png">
        <br>
        <h4 align="center">NTLELENG</h4>
        <br>
        <ul id="nav">
            <li><a class="selected" href="#">DASHBOARD</a></li>
            <li>
                <a href="#">
                        <img src="assets/project.png" height="20" width="20" style="margin-right: 15px;">
                    MY PROJECTS
                </a>
            </li>
            <li>
                <a href="#">
                        <img src="assets/tasks.png" height="20" width="20" style="margin-right: 15px;">
                    MY TASKS
                </a>
            </li>
            <li>
                <a href="#">
                        <img src="assets/logout.png" height="20" width="20" style="margin-right: 15px;">
                    SIGN OUT
                </a>
            </li>
        </ul>
    </div>

    <div class="searchbar">
        <ul>
            <li>
            <form class="example" action="">
                <input type="text" name="search">
                <button><img src="assets/search.png" height="15" width="15"></button>
            </form>
            </li>
            <li style="float: right;"><p>DASHBOARD</p></li>
            <li style="float: right;">
                <button class="notification">
                    <img  src="assets/notification_on.png" height="20" width="20">
                </button>
            </li>
        </ul>
        
        
    </div>

    <div class="content">
        <h1 align="center">DASHBOARD</h1>
        
        <div id="box" ng-controller="projectsCtrl">
            <form action="/dashboard">
                <div class="button" ng-click="submit()"> 
                        <button class="project">
                            <img src="assets/project.png"><br>
                            <a href="projects">PPROJECTS</a>
                        </button>
                    </div>
                    <div class="button">
                        <button class="quotes">
                            <img src="assets/quote.png">
                            <p>QUOTES</p>
                        </button>
                    </div>
                    <div class="button">
                        <button class="finance">
                            <img src="assets/finance.png">
                            <p>FINANCE</p>
                        </button>
                    </div>
                    <div class="button">
                        <button class="rfqs">
                            <img src="assets/quote.png">
                            <p>RFQs</p>
                        </button>
                    </div>
                    <div class="button">
                        <button class="reports">
                            <img src="assets/report.png">
                            <p>REPORTS</p>
                        </button>
                    </div>
                    <div class="button">
                        <button class="admin">
                            <img src="assets/admin.png">
                            <p>ADMIN</p>
                        </button>
                    </div>  
            </form>
                
        </div>
    </div>
</div>